@import "../../../../../app/pages/app/variables";

.employees-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3px;
  padding: 5px;
  background-color: $grey-color-hsl237237237;
}

.employees-item-container .create-subgroup-add {
  &:before {
    content: '';
    display: none;
  }

  &:after {
    content: '';
    display: none;
  }
}

.employees-item-container img {
  display: block;
  width: 58px;
  height: 56px;
  margin-right: 35px;
}

.employees-item-container p {
  margin: 5px 0;
  font-size: $font-size-any-small;
  line-height: $line-height-any-small;
  font-weight: $font-weight-bold;
  color: $black-color;
}
