$mobile-width: 320px;
$only-mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1452px;

$mobile-padding: 20px;
$tablet-padding: 65px;
$desktop-padding: 120px;

$black-color: #000000;
$white-color: #ffffff;
$grey-color-hsl128128128: #808080;
$grey-color-hsl226229234: #e2e5ea;
$grey-color-hsl237237237: #ededed;
$grey-color-hsl204204213: #ccccd5;
$blue-color-hsl20115230: #1473e6;

$font-size-very-big: 72px;
$font-size-any-biggest: 1px;
$font-size-biggest: 1px;
$font-size-any-big: 1px;
$font-size-big: 40px;
$font-size-medium-big: 1px;
$font-size-medium: 30px;
$font-size-medium-small-2: 24px;
$font-size-medium-small: 20px;
$font-size-small: 18px;
$font-size-any-small: 16px;
$font-size-smallest: 14px;
$font-size-any-smallest: 13px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height-any-biggest: 72px;
$line-height-biggest: 1px;
$line-height-any-big: 40px;
$line-height-big: 32px;
$line-height-medium-big: 30px;
$line-height-medium: 27px;
$line-height-medium-small: 24px;
$line-height-any-small: 18px;
$line-height-smallest: 1px;
